<div class="row">
  <div class="col-sm-6">

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail1" class="col-md-5 control-label"><strong>3245 Total Rows - Displaying: </strong></label>
    <div class="col-md-3">
      <select class="form-control">
  <option>10 Rows</option>
  <option>20 Rows</option>
  <option>50 Rows</option>
  <option>100 Rows</option>
</select>    </div>
  </div>
</form>



  </div>
  <div class="col-sm-6">
    <div class="pull-right">
    <ul class="pagination pull">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    </div>




  </div>
</div>

